@font-face {
  font-family: BigJohn;
  src: url(/fonts/BIGJOHN.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: futura, Arial;
  font-weight: lighter;
}

h1 {
  font-family: BigJohn, Futura, Arial;
  color: blue;
}

h2 {
  font-family: BigJohn;
}

ul {
  list-style-type: none;
}

.landing-page-container {
  margin-left: 180px;
  margin-right: 180px;
}

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
