@font-face {
  font-family: BigJohn;
  src: url(/fonts/BIGJOHN.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Futura, Arial;
  font-weight: lighter;
  color: rgb(113, 114, 114);
  line-height: 1.6;
}

header {
  width: 60%;
  font-size: 16px;
}

footer {
  background-color: #F6A623;
  text-align: center;
  color: white;
  height: 100px;
  padding-top: 20px;
}

footer p {
  margin: 0;
  font-size: 14px;
}

h1 {
  font-family: BigJohn, Futura, Arial;
  color: black;
}

h2 {
  font-family: BigJohn;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  font-family: BigJohn, Futura, Arial;
  color: #F6A623;
  background-color: #feeed7;
  cursor: pointer;
}

.landing-page-container {
  margin: 50px 10%;
}

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-header {
  font-style: italic;
  font-size: 20px;
}

.image-container {
  width: 30%;
  height: auto;
}

.image-container img {
  width: 80%;
}

.contact-info p {
  margin: 0;
  font-size: 14px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech-summary p {
  font-style: italic;
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 100px;
}

@media (max-width: 1000px) {
  .landing-page-container {
    margin: 50px 5%;
  }
  .intro-container {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    text-align: center;
  }

  .image-container img {
    width: 180px;
  }

  .projects-container {
    flex-direction: column;
  }

  header {
    width: 100%;
  }
}
